/* TEXT STYLE START */

h1 {
  font-size: 48px;
  font-family: "halyard-display",sans-serif;
  margin: 0 0 0 0;
}

h2 {
  font-size: 30px;
  font-family: "halyard-display",sans-serif;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "halyard-text",sans-serif;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
  -moz-text-decoration-color: rgb(234,76,137);
  text-decoration-color: rgb(234,76,137);
}

/* TEXT COLORS */

#darkGrey{
  color: #333;
  font-weight: 700
}

#lightGrey{
  color: #9ea0a6;
  font-weight: 100
}

/* Logo */

.logo_block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
}

.logo{
  width: 72px;
  height: 72px;
  background-color: red;
  margin-right: 24px;
  margin-bottom: 24px;
  display: inline;

}
