

#container {
  background: #111;
  position: absolute;
  left: 50%;
  top: 50%;
}

#stats {
  position: absolute;
  right: 10px;
  top: 10px;
}


.left {
  width: 50%;
  height: 100vh;
  float: left;
  padding: 50px;
}

.right {
  background-color: yellow;
  width: 50%;
  height: 100vh;
  float: right;
}

/*LANDING PAGE END*/

/* TEXT STYLE START */

h1 {
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #2D2C2C;
}

.darkGrey{
  color: #333;
}

.lightGrey{
  color: #9ea0a6;
}


h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
  -moz-text-decoration-color: rgb(234,76,137);
  text-decoration-color: rgb(234,76,137);
}
