/* TEXT STYLE START */

h1 {
  font-size: 24px;
  font-family: "halyard-display",sans-serif;
  margin: 0 0 0 0;
}

h2 {
  font-size: 14px;
  font-family: "halyard-display",sans-serif;
  font-weight: 400;
}

h3{
  font-size: 14px;
  font-family: "halyard-text",sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "halyard-text",sans-serif;
}

/* LINKS */

.contact-links{
  position: fixed;
  bottom: 0px;
}

a {
  color: #333;
  font-family: "halyard-text",sans-serif;
  font-size: 14px;
  padding-right: 16px;
}

a:hover {
  color: #9ea0a6;
}

a:visited {
  color: black;
}



/* TEXT COLORS */

#darkGrey{
  color: #333;
  font-weight: 500
}

#lightGrey{
  color: #9ea0a6;
  font-weight: 100
}

/* Text block */

.about_text{
  width: 80%;
}
/* Logo */

.logo_block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
  position: relative;
  padding-bottom: 50px;
  min-height: 220px;
  width: 80%;
}

.logo{
  width: 56px;
  height: 56px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline;
  z-index: 1;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.logo:hover {
  display: inline;
  z-index: 1;
  cursor: help;
  -webkit-box-shadow: 0px 10px 33px 2px rgba(207,207,207,1);
  -moz-box-shadow: 0px 10px 33px 2px rgba(207,207,207,1);
  box-shadow: 0px 10px 33px 2px rgba(207,207,207,1);
}

/* LOGOS + type */

#logo_google{
  background-image:url(../Assets/homepage/google_logo.png);
  background-size: cover;
  z-index: 1;
}

#google_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;
}

#logo_google:hover + #google_type{
  opacity: 1;
  min-height: 70px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#logo_aits{
  background-image:url(../Assets/homepage/AITS_logo.png);
  background-size: cover;
}

#aits_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;
}

#logo_aits:hover + #aits_type{
  opacity: 1;
  min-height: 70px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#logo_andriod{
  background-image:url(../Assets/homepage/android_logo.png);
  background-size: cover;
}

#andriod_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;
}

#logo_andriod:hover + #andriod_type{
  opacity: 1;
  min-height: 70px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#logo_natwest{
  background-image:url(../Assets/homepage/natwest_logo.png);
  background-size: cover;
}

#natwest_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;
}

#logo_natwest:hover + #natwest_type{
  opacity: 1;
  min-height: 70px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#logo_qubit{
  background-image:url(../Assets/homepage/qubit_logo.png);
  background-size: cover;
}

#qubit_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;
  min-height: 70px;
}

#logo_qubit:hover + #qubit_type{
  opacity: 1;
  min-height: 80px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#logo_youtube{
  background-image:url(../Assets/homepage/youtube_logo.png);
  background-size: cover;
}

#youtube_type{
  color: #9ea0a6;
  opacity: 0;
  position: absolute;
  bottom: -72px;

}

#logo_youtube:hover + #youtube_type{
  opacity: 1;
  min-height: 80px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 1400px) {

    #darkGrey{
      color: red;
    }

    #google_type{
      bottom: 0px;
    }

    #aits_type{
      bottom: 0px;
    }

    #andriod_type{
      bottom: 0px;
}

    #natwest_type{
      bottom: 0px;
    }

    #qubit_type{
      bottom: 0px;
    }

    #youtube_type{
      bottom: 0px;
    }
